.DS_Store
*.egg-info/
__pycache__/
notebooks/.ipynb_checkpoints/
data/*
figures/*
debug/*
*.aux
*.log
*.out
*.gz
*.bbl
*.blg

notebooks/fluxqubit_coherence.ipynb
notebooks/transmon_quasiparticle_tunneling.ipynb