.DS_Store
*.egg-info/
__pycache__/
notebooks/.ipynb_checkpoints/
.idea/*
data/*
figures/*
debug/*
optimization/*
notebooks/*
notes/*
*.aux
*.log
*.out
*.gz
*.bbl
*.blg

notebooks/fluxqubit_coherence.ipynb
notebooks/transmon_quasiparticle_tunneling.ipynb
test/circuiq_test.py
test/mc_search_test.py
circuitq/mc_search.py